<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>|
        <li><a href="#">Our story</a></li>|
        <li><%= link_to "hi" + @user.first_name %></a></li>
        <li><%= link_to "Log out!", logout_path %></li>
    </ul>
  </div>
</nav>
<br>
<br>
<h1>sdssf</h1>
<br>
<br>
<div class="container">
<% @buckets.each do |bucket| %>
  <div class="row">

    <div class="col-sm-3 thumbnail bucketbox">bucket.name</div>
 
  </div>
    <% end %>
 </div>