<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our story</a></li>
        
    </ul>
  </div>
</nav>
<br>
<br>
<h1>sdssf</h1>
<br>
<br>
<div class="container">
<% @buckets.each do |bucket| %>
  <div class="row">

    <div class="col-sm-3 thumbnail bucketbox text-center"><%= link_to bucket.name, bucket_path(bucket) %></div>
 
  </div>
    <% end %>
 </div>