<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Our story</a></li>
        <li><a href="#">Log in</a></li>
    </ul>
  </div>
</nav>
