
<header>
<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container-fluid" id = "image">
  <h1 id ="logo">MusicBucket</h1>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Our story", root_path %></li>
    </ul>
  </div>
</nav>
</header>

<div class="container">
 <div class="row">
    <div class="col-sm-3 col-sm-offset-1 thumbnail bucketbox text-center">
   <!--  <audio controls autoplay><source src="https://p.scdn.co/mp3-preview/0b046dcd66e5bd91df44352490e587bbf8b579b7 ">song 1</audio> -->
   <a href='#' id='circleplay' class='glyphicon glyphicon-play-circle' aria-hidden='true'></a>
      <a href="#"><h2 class="title">Just Woke-up</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
    <a href='#' id='circleplay' class='glyphicon glyphicon-play-circle' aria-hidden='true'></a>
      <a href="#"><h2 class="title">Happy</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
    <a href='#' id='circleplay' class='glyphicon glyphicon-play-circle' aria-hidden='true'></a>
      <a href="#"><h2 class="title">Exhausted</h2></a>
    </div>
  </div>
  <p>
  <h3 class = "story text-center"> "Not feelin it?.. make your own mood bucket. Log in for unlimited access to music and connect to your mood." </h3>
  </p>
  <p class = "text-center">
   <a href="/auth/facebook" id="sign_in" class="btn btn-primary btn-lg outline">Log in with Facebook</a>
  </p>


 

  
<!-- Replacing this sample with Ife & Aparna code
<h1>Sites#index</h1>
<p>Find me in app/views/sites/index.html.erb</p>
@user: < %= @user.first_name %>
< %= link_to "Buckets", bucket_path(@user) %>

 -->
