
<header>

 <h1 id ="logo">MusicBucket</h1>

</header>

<!-- <div id="background-block">
 -->
<div class="container boxes-text">
 <div class="row">
    <div class="col-sm-3 col-sm-offset-1 thumbnail bucketbox text-center">

   <!--  <audio controls autoplay><source src="https://p.scdn.co/mp3-preview/0b046dcd66e5bd91df44352490e587bbf8b579b7 ">song 1</audio> -->
   <a href='#' id='happy' class='glyphicon glyphicon-play-circle circleplay' aria-hidden='true'></a>
      <a href="#"><h2 class="sample-text story">Happy</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
    <a href='#' id='edgy' class='glyphicon glyphicon-play-circle circleplay ' aria-hidden='true'></a>
      <a href="#"><h2 class="sample-text story">Edgy</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
    <a href='#' id='nost' class='glyphicon glyphicon-play-circle circleplay ' aria-hidden='true'></a>
      <a href="#"><h2 class="sample-text story">Nostalgic</h2></a>

    </div>
  </div>
  <p>
  
  <h3 class = "story text-center"> Not feelin' it? Create your own music bucket.</h3> <h3> Name a bucket, customize your tracks, and play.</h3> 
  <h3>Login for unlimited access to music to match your moods.</h3>
  
  </p>
  <br>


  <p class = "text-center">
   <a href="/auth/facebook" id="login" class="btn btn-primary">Login with Facebook</a>
  </p>


<h3>Learn more about us <a href="#">here</a></h3>

<!-- </div> -->

