
<nav class="navbar navbar-default navbar-right navbar-fixed-top">
  <div class="container-fluid" id = "image">
  <h1 id ="logo">MusicBucket</h1>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Our story</a></li>
        <li><%= link_to "Log in!", root_path %></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
 <div class="row">
    <div class="col-sm-3 col-sm-offset-1 thumbnail bucketbox text-center">
      <a href="#"><h2 class="title">Just Woke-up!</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
      <a href="#"><h2 class="title">Happy!</h2></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
      <a href="#"><h2 class="title">Exhausted</h2></a>
    </div>
  </div>
  <p>
  <h3 class = "story text-center"> "Not feelin it?.. make your own mood bucket. Log in for unlimited access to music and connect to your mood." </h3>
 

  