


<header>

 <h1 id ="logo">MusicBucket</h1>

</header>

<!-- <div id="background-block">
 -->
<div class="container boxes-text">
 <div class="row">
    <div class="col-sm-3 col-sm-offset-1 thumbnail bucketbox text-center">
    <a href="#"><p class="sample-text">Chill</p></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
     <a href="#"><p class="sample-text">Edgy</p></a>
    </div>
    <div class="col-sm-3 thumbnail bucketbox text-center">
      <a href="#"><p class="sample-text">Nostalgic</p></a>
    </div>
  </div>
  <p>
  
  <h3 class = "story text-center"> Not feelin' it? Create your own music bucket.</h3> <h3> Name a bucket, customize your tracks, and play.</h3> 
  <h3>Login for unlimited access to music to match your moods.</h3>
  
  </p>
  <br>
  <br>

  <p class = "text-center">
   <a href="/auth/facebook" id="facebook-login" class="btn btn-primary btn-lg outline">Login with Facebook</a>
  </p>


<h3>Learn more about us <a href="#">here</a></h3>

<!-- </div> -->

